@font-face {
		src: url("../fonts/jalnan.ttf");
		font-family: "jal";
}
     #jal {
	font-family: "jal";
}
#text-center {
	text-align: center;
}

#float-left{
		float: left;
}
#ct{
	text-align: center;
	width: 300px;
	margin-left: auto;
  margin-right: auto;
}
#ul_ct {
	width: 300px;
	margin-left: auto;
  margin-right: auto;
}
/* ul{
	width: 300px;
	margin-left: auto;
  margin-right: auto;
} */
.img-border{
    padding: 0;
	border: none;
	background: none;
      }
     	/* 햄버거 start */
.menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 0;
  transition: 0.5s ease;
  z-index: 1;
  background-color: #eee;
}
.header-img {
	background-image: url("../images/floot.jpg");
	width: 100%;
	height: 40vh;
	background-repeat : no-repeat;
        background-size : cover;
}

.burger-icon {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  z-index: 2;
  padding: 8px 0;
  top: 4px;
  right: 4px;
  user-select: none;
  width: auto;
  margin: 0;
}

.burger-icon .burger-sticks {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.burger-icon .burger-sticks:before,
.burger-icon .burger-sticks:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.burger-icon .burger-sticks:before {
  top: 5px;
}

.burger-icon .burger-sticks:after {
  top: -5px;
}

.burger-check {
  display: none;
}

.burger-check:checked~.menu {
  max-width: 200px;
}

.burger-check:checked~.burger-icon .burger-sticks {
  background: transparent;
}

.burger-check:checked~.burger-icon .burger-sticks:before {
  transform: rotate(-45deg);
}

.burger-check:checked~.burger-icon .burger-sticks:after {
  transform: rotate(45deg);
}

.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
  top: 0;
}
/* 햄버거end */
/* img-rotate start*/
.intro-wrap {position: fixed; left: 0px; top: 0px; width: 150%; height: 100%; overflow: hidden; }
.bgwrap {position: fixed; left: 0px; top: 0px; width: 150%; height: 100%;}
.intro-wrap > .bgwrap > div {position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; background-color:#fff; text-align: center;}
.intro-wrap > .bgwrap > div > img {height: 100%; width: 100%; max-width: inherit;}
/* img-rotate end */